    <div class="right-side text-center search-form">
        <form action="{{ path('search') }}">
            <input type="text" name="search" value="{{ search is defined ? search : '' }}" placeholder="Wyszukaj">          
        </form>
    </div>
        
    <div class="right-side">
        <div class="right-menu">
            <div class="section-title"><h4>Kategorie</h4></div>
            <hr>
            <div class="right-menu-content">
                {{ printMenu() }}
            </div>
        </div>
        <div class="tags">
            <h4>Tags</h4>
            <hr>
            <div class="tags-content">
                {{ tagsCloud() }}            
            </div>
        </div>
        <div class="top-commented">
            <h4>Najczęściej komentowane</h4>
            <hr>
            {{ topCommented() }}
        </div>
    </div>
