{% extends 'AutoSerwisBundle::base.html.twig' %}

{% block pageContent %}
    {% include 'AutoSerwisBundle:Templates:flash_msg.html.twig' %}
    <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">Formularz kontaktowy</h3>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Imię'} }) }}
            <div class="custom-error">{{ form_errors(form.name) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adres e-mail'} }) }}
            <div class="custom-error">{{ form_errors(form.email) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.msg) }}
            {{ form_widget(form.msg, {'attr': {'class': 'form-control', 'placeholder': 'Treść wiadomości'} }) }}
            <div class="custom-error">{{ form_errors(form.msg) }}</div>
        </div>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'} }) }}
    {{ form_end(form) }}
    <div>
{% endblock %}
    