{% extends "AdminBundle::base.html.twig" %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="post-admin">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ taxonomyName }}
                </div>
                <div class="panel-body">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
                            <div class="custom-error">{{ form_errors(form.name) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.slug) }}
                            {{ form_widget(form.slug, {'attr': {'class': 'form-control'} }) }}
                            <div class="custom-error">{{ form_errors(form.slug) }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-info btn-block'} }) }}
                    </div>
                    <div class="col-md-6">
                        <a href="{{ path('admin_tags') }}" class="btn btn-success btn-block">Powrót</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}