{% extends "AdminBundle::base.html.twig" %}

{% block content %}
    {% include "AutoSerwisBundle:Templates:flash_msg.html.twig" %}
    <div class="post-admin">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ taxName }}
            </div>
            <div class="panel-body">
                <div class="col-md-12"><a id="add_btn" href="{{ path(taxPath) }}" class="pull-right"><i class="fa fa-plus-square" aria-hidden="true"></i> Dodaj</a></div>
                <div class="col-md-12">
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="sortable">{{ knp_pagination_sortable(pagination, 'Id', 't.id') }}</th>
                                <th class="sortable">{{ knp_pagination_sortable(pagination, 'Nazwa', 't.name') }}</th>
                                <th class="sortable">{{ knp_pagination_sortable(pagination, 'Ilość przypisanych postów', 'ile') }}</th>
                                <th>Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in pagination %}
                                {% set tax = row[0] %}
                                <tr>
                                    <td>{{ tax.id }}</td>
                                    <td>{{ tax.name }}</td>
                                    <td>{{ row.ile }}</td>
                                    <td class="tbl_actions">
                                        <a href="{{ path(deletePath, {'id': tax.id}) }}" title="Usuń"><i class="fa fa-trash-o" aria-hidden="true"></i></a> 
                                        <a href="{{ path(taxPath, {'id': tax.id}) }}" title="Edycja"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
                            <div class="text-center">{{ knp_pagination_render(pagination) }}</div>
{% endblock %}