{% extends "AdminBundle::base.html.twig" %}

{% block content %}
    <div class="post-admin">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tagi
            </div>
            <div class="panel-body">
                <div class="col-md-12"><a id="add_btn" href="" class="pull-right"><i class="fa fa-plus-square" aria-hidden="true"></i> Dodaj nowy tag</a></div>
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="sortable">{{ knp_pagination_sortable(pagination, 'Id', 't.id') }}</th>
                            <th class="sortable">{{ knp_pagination_sortable(pagination, 'Nazwa', 't.name') }}</th>
                            <th class="sortable">{{ knp_pagination_sortable(pagination, 'Ilość przypisanych postów', 'ile') }}</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in pagination %}
                            {% set tag = row[0] %}
                            <tr>
                                <td>{{ tag.id }}</td>
                                <td>
                                    {#<form action="{{ path('admin_tags'}}" name="tag_form" id="tag_form" method="POST">
                                        <div class="form-group">
                                            <input type="text" name="tag_name" id="tag_name" value="{{ tag.name }}" class="form-control">
                                        </div>
                                    </form>#}
                                </td>
                                <td>{{ row.ile }}</td>
                                <td class="tbl_actions">
                                    <a href="" title="Usuń"><i class="fa fa-trash-o" aria-hidden="true"></i></a> 
                                    <a href="{{ path('admin_tag_edit', {'id': tag.id}) }}" title="Edycja"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}