{% extends "FOSUserBundle::layout.html.twig" %}

{% block pageContent %}
    <div class="left-side">
        <h2 class="text-center">{{ title | raw }}</h2>
        <hr>
        {% for post in pagination %}
            
            <div class="post">
                <h3>{{ post.title }}</h3>
                <div class="detals">
                    <div class="author">dodał: {{ post.author.username }}</div> <div class="create-date">dodano: {{ post.createDate | date ('d-m-Y H:m') }}</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><div class="cat">Kategoria: <a href="{{ path('category', {'slug': post.category.slug}) }}">{{ post.category.name }}</a></div>
                        <div class="tag">Tag:
                            {% for tag in post.tags %}
                                <a href="{{ path('tag', { 'slug': tag.slug }) }}">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="{{ path('post', {'slug': post.slug}) }}">
                        <div class="panel-body">
                            <img src="{{ asset('bundles/autoserwis/img/default-thumbnail.jpg') }}">
                            <div class="post-content">
                                {{ post.content | cutPost}}
                            </div>
                        </div>
                    </a>
                </div>
                <div class="comments">
                    <a href="{{ path('post', { 'slug': post.slug }) }}">Komentarzy({{ post.comments | length }})</a>
                </div>
            </div>
        {% else %}
            <h4 class="text-center">Brak postów do wyświetlenia</h4>
        {% endfor %}
        <div class="text-center">
        {{ knp_pagination_render(pagination, 'AutoSerwisBundle:Pagination:pagination.html.twig') }}
        </div>
        
    </div>

    <div class="right-side text-center search-form">
        <form action="{{ path('search') }}">
            <input type="text" name="search" value="{{ search is defined ? search : '' }}" placeholder="Wyszukaj">
        </form>
    </div>
        
    <div class="right-side">
        <div class="right-menu">
            <h4>Kategorie</h4>
            <hr>
            <div class="right-menu-content">
                {{ printMenu() }}
            </div>
        </div>
        <div class="tags">
            <h4>Tags</h4>
            <hr>
            <div class="tags-content">
                {{ tagsCloud() }}            
            </div>
        </div>
        <div class="top-commented">
            <h4>Najczęściej komentowane</h4>
            <hr>
            {{ topCommented() }}
        </div>
    </div>
    
{% endblock %}
