{% extends "AutoSerwisBundle::base.html.twig" %}

{% block pageContent %}
    <div class="left-side">
        <h2 class="text-center">{{ title | raw }}</h2>
        <hr>
        {% for post in pagination %}
            
            <div class="post">
                <span class="post-title"><h2 class="text-center">{{ post.title }}</h2></span>
                <div class="detals">
                    <div class="author">dodał: {{ post.author.username }}</div> <div class="create-date">dodano: {{ post.createDate | date ('d-m-Y H:i') }}</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="cat">Kategoria: 
                            {% if post.category %}
                            <a href="{{ path('category', {'slug': post.category.slug}) }}">
                                {{ post.category.name }}
                            </a>
                            {% else %}
                                Brak przypisanej kategorii  
                            {% endif %}
                        </div>
                        <div class="tag">Tag:
                            {% for tag in post.tags %}
                                <a href="{{ path('tag', { 'slug': tag.slug }) }}">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="{{ path('post', {'slug': post.slug}) }}">
                        <div class="panel-body">
                            <img src="{{ asset(post.thumbnail) }}">
                            <div class="post-content">
                                {{ post.content | cutPost}}
                            </div>
                        </div>
                    </a>
                </div>
                <div class="comments">
                    <a href="{{ path('post', { 'slug': post.slug }) }}">Komentarzy({{ post.comments | length }})</a>
                </div>
            </div>
        {% else %}
            <h4 class="text-center">Brak postów do wyświetlenia</h4>
        {% endfor %}
        <div class="text-center">
        {{ knp_pagination_render(pagination) }}
        </div>
        
    </div>
        
        {% include 'AutoSerwisBundle:Templates:right_side.html.twig' %}
    
{% endblock %}
